* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container1
{
  display: flex;
  flex-direction: row;
  height:20%;
}
.nav
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height:100%;
}
.panel {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 20vw;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  list-style-type:none;
}
.item
{
  text-align:center;
  font-size: 2.75vh;
  margin: 3vh 0vh 1vh 0vh;
  text-transform: uppercase;
  font-weight: bold;
  padding:2vh;
  border-bottom: solid 0.2vh #04cc11;
}
.link:hover{
  transform: translateY(10px);
}
.link
{
  text-decoration:none;
  color:#022e05;
}
.homepage
{
  display: flex;
  width:80vw;
  flex-direction: column;
  height: 100vh;
}

.section
{
  width: 100vw;
  height:900px;
}
#humidity{
  background-color: black;
}
#temperature
{
  background-color: tan;
}
#moisture
{
  background-color: teal;
}

